@use "../../../node_modules/@fullstacked/ui/values/spacing.scss";
@use "../../../node_modules/@fullstacked/ui/values/colors.scss";
@use "../../../node_modules/@fullstacked/ui/values/typography.scss";

#settings {
    ul,
    ol {
        list-style-type: none;
    }

    .top-bar {
        padding-bottom: spacing.$small;
    }

    .scrollable {
        padding-top: spacing.$small;

        gap: spacing.$large;

        > div {
            width: 100%;
            max-width: spacing.$max-width;
            margin: 0 auto;
        }
    }

    .user-mode {
        padding-top: spacing.$small;
        display: flex;
        gap: spacing.$x-small;
        flex-direction: column;

        h2 {
            min-width: 180px;
        }

        > div:first-child {
            display: flex;
            justify-content: space-between;
        }

        > p {
            font-size: typography.$small;
        }
    }

    .agent-provider-config {
        display: flex;
        flex-direction: column;
        gap: spacing.$x-small;
    }

    .packages {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .connectivity {
        display: flex;
        flex-direction: column;
        gap: spacing.$medium;

        .web-addresses {
            > div:first-child {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding-bottom: spacing.$small;

                + ul {
                    padding-top: 0;
                }
            }

            ul {
                padding-top: spacing.$small;
                display: flex;
                flex-direction: column;
                gap: spacing.$small;
            }

            li {
                background-color: colors.$gray-dark;
                border: 1px solid colors.$gray;
                padding: spacing.$small;
                font-size: typography.$small;
                border-radius: spacing.$x-small;
                display: flex;
                justify-content: space-between;
                align-items: center;

                > div {
                    display: flex;
                    align-items: center;
                    gap: spacing.$small;

                    &:first-child {
                        .icon {
                            height: 18px;
                            width: 18px;
                            color: colors.$yellow;
                        }
                    }

                    &:last-child {
                        > button {
                            color: colors.$light;
                        }
                    }
                }
            }

            form {
                padding: spacing.$small;
                display: flex;
                flex-direction: column;
                gap: spacing.$small;
                background-color: colors.$gray-dark;
                border: 1px solid colors.$gray;
                border-radius: spacing.$x-small;

                > div:last-child {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .network-interfaces {
            > label {
                display: block;
                padding-bottom: spacing.$small;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: spacing.$small;

                li {
                    background-color: colors.$gray-dark;
                    border: 1px solid colors.$gray;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: spacing.$small;
                    border-radius: spacing.$x-small;
                    font-size: typography.$small;
                }
            }
        }
    }

    .git-authentications {
        > div:first-child {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: spacing.$small;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: spacing.$small;

            li {
                > div {
                    background-color: colors.$gray-dark;
                    border: 1px solid colors.$gray;
                    padding: spacing.$small;
                    border-radius: spacing.$x-small;
                    display: flex;
                    flex-direction: column;
                    gap: spacing.$small;

                    > div:first-child {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        > button > .icon {
                            color: colors.$light;
                        }
                    }

                    > div:not(:first-child) {
                        display: flex;
                        flex-direction: column;
                        gap: 3px;
                    }
                }
            }
        }

        form {
            background-color: colors.$gray-dark;
            border: 1px solid colors.$gray;
            padding: spacing.$small;
            border-radius: spacing.$x-small;
            display: flex;
            flex-direction: column;
            gap: spacing.$small;

            > div:last-child {
                display: flex;
                justify-content: space-between;
            }

            + ul {
                padding-top: spacing.$small;
            }
        }
    }

    .version {
        display: flex;
        flex-direction: column;
        gap: spacing.$medium;

        > div {
            display: flex;
            flex-direction: column;
            gap: spacing.$x-small;

            > div {
                align-self: flex-end;
            }
        }

        .editor-version {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            > div:first-child {
                display: flex;
                align-items: flex-end;
                gap: spacing.$x-small;
            }
        }
    }
}
