.dev-icon {
    &.typescript::before {
        content: "\E099";
        color: #519aba;
    }

    &.javascript::before {
        content: "\E051";
        color: #cbcb41;
    }

    &.sass::before {
        content: "\E084";
        color: #f55385;
    }

    &.css::before {
        content: "\E01D";
        color: #519aba;
    }

    &.json::before {
        content: "\E055";
        color: #cbcb41;
    }

    &.markdown::before {
        content: "\E060";
        color: #519aba;
    }

    &.liquid::before {
        content: "\E05B";
        color: #8dc149;
    }

    &.html::before {
        content: "\E048";
        color: #e37933;
    }

    &.image::before {
        content: "\E04C";
        color: #a074c4;
    }

    &.svg::before {
        content: "\E04C";
        color: #a074c4;
    }

    &.react::before {
        content: "\E07D";
        color: #519aba;
    }

    &.npm::before {
        content: "\E067";
        color: #cc3e44;
    }

    &.default::before {
        content: "\E023";
        color: #d4d7d6;
    }
}
