@use "../../../node_modules/@fullstacked/ui/values/spacing.scss";
@use "../../../node_modules/@fullstacked/ui/values/typography.scss";
@use "../../../node_modules/@fullstacked/ui/values/colors.scss";
@use "./dev-icons.scss";

$file-tree-panel-width: 235px;
$workspace-tabs-height: 34px;

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

#project {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0;

    .top-bar {
        width: calc(100% + (spacing.$medium + spacing.$small));
        padding-bottom: spacing.$x-small;

        h1 {
            font-size: typography.$medium;
        }

        p {
            font-size: typography.$small;
        }

        button.working {
            animation: flash 1s infinite alternate;
        }

        .top-bar-actions {
            .loader-container {
                width: 38px;
                height: 38px;
                padding: 4px;
            }
        }
    }

    .file-tree-and-editor {
        flex: 1;
        overflow: hidden;

        display: flex;

        margin-left: 0 - spacing.$medium;
        width: calc(100% + (spacing.$medium + spacing.$medium));

        .left-panel {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: $file-tree-panel-width;
            transition: 0.2s width;

            >div:last-child {
                padding-left: spacing.$small;
                padding-bottom: spacing.$small;
                transition: 0.2s all;

                &.hide {
                    padding-left: 0;
                    padding-bottom: 0;
                    height: 0;
                    overflow: hidden;
                }
            }
        }

        .editor {
            width: calc(100% - $file-tree-panel-width);
            border-top-left-radius: spacing.$x-small;
            transition: 0.2s width;
        }

        .workspace {
            flex: 1;
            border-top-left-radius: spacing.$x-small;
            background-color: colors.$dark;
            height: 100%;
            display: flex;
            flex-direction: column;
            width: calc(100% - $file-tree-panel-width);

            >div:first-child {
                display: flex;
                border-bottom: 1px solid colors.$gray;
                height: $workspace-tabs-height;
                align-items: center;
            }

            .history {
                padding: 0 spacing.$x-small;
                display: flex;
                gap: spacing.$x-small;
                border-right: 1px solid colors.$gray;
                height: 100%;
                align-items: center;

                >button:first-child {
                    transform: rotate(180deg);
                }
            }

            .tabs {
                white-space: nowrap;
                overflow: auto;

                >div {
                    display: inline-flex;
                    align-items: center;
                    padding: spacing.$x-small spacing.$x-small spacing.$x-small spacing.$small;
                    border-right: 1px solid colors.$gray;
                    gap: spacing.$x-small;
                    cursor: pointer;

                    >span {
                        position: relative;
                        color: colors.opacity(colors.$light, 50);

                        small {
                            padding-left: spacing.$x-small;
                            opacity: 0.6;
                            font-size: typography.$small;
                        }
                    }

                    &.active {
                        >span {
                            color: colors.$light;
                        }
                    }

                    &.has-error {
                        >span::after {
                            content: "";
                            background-color: colors.$red;
                            position: absolute;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            top: -2px;
                            right: -6px;
                        }
                    }

                    .dev-icon {
                        font-size: 24px;
                    }

                    button svg {
                        height: 18px;
                        width: 18px;
                    }
                }
            }

            >.view-container {
                width: 100%;
                height: calc(100% - $workspace-tabs-height);
                flex: 1;

                >.image-container {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    padding: spacing.$medium;

                    >img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        object-position: top;
                    }
                }

                >.binary-container {
                    text-align: center;
                    padding: spacing.$medium;
                }

                >.chat-container {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    flex-direction: column;
                    position: relative;

                    .infos {
                        font-size: typography.$small;
                        padding: spacing.$x-small;
                        border-bottom: 1px solid colors.$gray;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .conversation {
                        width: 100%;
                        flex: 1;
                        overflow: auto;


                        .messages {
                            display: flex;
                            flex-direction: column;
                            gap: spacing.$small;
                            margin-top: spacing.$small;
                            margin-bottom: 80px;

                            >div {
                                max-width: 800px;
                                padding-left: spacing.$small;
                                padding-right: spacing.$small;

                                &.human {
                                    align-self: flex-end;
                                }

                                p,
                                h1,
                                h2,
                                h3,
                                h4,
                                h5,
                                h6 {
                                    margin-top: spacing.$small;
                                    margin-bottom: spacing.$small;
                                }

                                code {
                                    background-color: colors.$gray-dark;
                                    padding: 2px 5px;
                                    border-radius: 5px;
                                    font-size: calc(typography.$medium - 1px);
                                }

                                ul,
                                ol {
                                    padding-left: spacing.$large;

                                    li {
                                        margin-top: spacing.$x-small;
                                        margin-bottom: spacing.$x-small;
                                    }
                                }
                            }

                        }

                        .input {
                            background-color: colors.$gray-dark;
                            padding: spacing.$small;
                            border-radius: spacing.$x-small;
                            width: calc(100% - 40px);
                            max-width: 800px;
                            margin: 20px;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(calc(-50% - 20px));
                            border: 1px solid colors.$gray;
                            box-shadow: 0 0 30px 20px colors.opacity(colors.$dark, 30);

                            &:focus-visible {
                                outline: 2px solid colors.$blue;
                                outline-offset: 3px;
                            }
                        }
                    }
                }

                >.cm-container {
                    height: 100%;
                    width: 100%;

                    >div {
                        height: 100%;
                        max-height: 100%;
                        width: 100%;
                        max-width: 100%;
                    }

                    input {
                        width: auto;
                    }
                }
            }
        }

        &.closed-panel {
            .left-panel {
                width: 0;

                >div:last-child {
                    width: 0;
                    padding-left: 0;
                }
            }

            +.terminal-container {
                border-top-left-radius: 0;
            }

            .workspace {
                border-top-left-radius: 0;
            }
        }
    }

    .file-tree-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        >div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: spacing.$x-small;
            padding-right: spacing.$x-small;

            >div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: spacing.$small;
            }

            .import-file {

                form,
                input {
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
            }
        }
    }

    .file-tree {
        overflow: hidden;

        >.scrollable>.file-items>.file-item>.indent>div {
            width: 55%;
        }

        .icon {
            height: 16px;
            width: 16px;
        }

        .dev-icon {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon.open {
            transform: rotate(90deg);
        }

        .file-item {
            &:hover {
                background-color: colors.$gray-dark;
            }

            .suffix {
                >button {
                    color: colors.$light;
                    display: none;
                }
            }

            &.active {
                background-color: colors.opacity(colors.$blue, 50);

                .suffix {
                    >button {
                        display: flex;
                    }
                }
            }
        }
    }

    .editor {
        background-color: colors.$dark;
        display: flex;
        flex-direction: column;

        >div {
            overflow: auto;

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }

            .binary-view {
                padding: spacing.$medium;
                text-align: center;
            }
        }
    }

    .file-tabs {
        border-bottom: 1px solid colors.$gray;
        white-space: nowrap;
        width: 100%;
        min-height: 31px;
        overflow-x: auto;
        overflow-y: hidden;

        li {
            display: inline-flex;
            align-items: center;
            gap: spacing.$small;
            padding: spacing.$x-small spacing.$small;
            border-right: 1px solid colors.$gray;
            cursor: pointer;

            span {
                opacity: 0.5;
            }

            button {
                height: 20px;
                width: 20px;
            }

            &.opened {
                span {
                    opacity: 1;
                }
            }
        }
    }

    .terminal-container {
        margin: 0 0 - spacing.$medium;
        height: 50%;
        max-height: 0px;
        transition: 0.2s max-height;
        overflow: hidden;

        padding: 0;
        background-color: black;
        border-top-left-radius: spacing.$small;
        position: relative;

        >button {
            position: absolute;
            top: spacing.$x-small;
            right: spacing.$x-small;
            transform: rotate(-90deg);
        }

        &.open {
            padding: spacing.$x-small;
            max-height: 300px;
        }
    }

    .git-widget {
        display: flex;
        align-items: center;
        color: colors.$blue;
        position: relative;

        >div:first-child {
            text-align: right;
            display: flex;
            flex-direction: column;

            >div:last-child {
                font-size: typography.$small;
            }
        }

        .git-status-arrow {
            position: absolute;
            color: colors.$green;
            z-index: 1;
            top: -1px;
            right: -1px;
            transform: rotate(135deg);
            height: 20px;
            width: 20px;

            &.red {
                color: colors.$red;
                transform: rotate(-45deg);
            }
        }
    }
}

.file-path-helper {
    background-color: colors.$gray-dark;
    transform: translateY(100%);
    padding: spacing.$x-small spacing.$small;
    border-radius: spacing.$x-small;
    font-size: typography.$small;
    white-space: nowrap;
}

// codemirror overriddes
.cm-editor,
.cm-gutters {
    background-color: colors.$dark !important;
}

.cm-focused {
    outline: none !important;
}