@use "../../../node_modules/@fullstacked/ui/values/spacing.scss";
@use "../../../node_modules/@fullstacked/ui/values/typography.scss";
@use "../../../node_modules/@fullstacked/ui/values/colors.scss";
@use "./dev-icons.scss";

$file-tree-panel-width: 235px;
$workspace-tabs-height: 34px;

#project {
    .file-tree-and-editor {
        .workspace {
            > .view-container {
                width: 100%;
                height: calc(100% - $workspace-tabs-height);
                flex: 1;

                > .cm-container {
                    height: 100%;
                    width: 100%;

                    > div {
                        height: 100%;
                        max-height: 100%;
                        width: 100%;
                        max-width: 100%;
                    }

                    input {
                        width: auto;
                    }
                }
            }
        }
    }

    .file-tree-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: spacing.$x-small;
            padding-right: spacing.$x-small;

            > div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: spacing.$small;
            }

            .import-file {
                form,
                input {
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
            }
        }
    }

    .file-tree {
        overflow: hidden;

        > .scrollable > .file-items > .file-item > .indent > div {
            width: 55%;
        }

        .icon {
            height: 16px;
            width: 16px;
        }

        .dev-icon {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                height: 20px;
                width: 20px;
                padding: 0 4px;
            }
        }

        .icon.open {
            transform: rotate(90deg);
        }

        .file-item {
            &:hover {
                background-color: colors.$gray-dark;
            }

            .suffix {
                > button {
                    color: colors.$light;
                    display: none;
                }
            }

            &.active {
                background-color: colors.opacity(colors.$blue, 50);

                .suffix {
                    > button {
                        display: flex;
                    }
                }
            }
        }
    }
}

// codemirror overriddes
.cm-editor,
.cm-gutters {
    background-color: colors.$dark !important;
}

.cm-focused {
    outline: none !important;
}
