@use "../../../node_modules/@fullstacked/ui/values/spacing.scss";
@use "../../../node_modules/@fullstacked/ui/values/typography.scss";
@use "../../../node_modules/@fullstacked/ui/values/colors.scss";
@use "./dev-icons.scss";

$file-tree-panel-width: 235px;

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

#project {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0;

    .top-bar {
        width: calc(100% + (spacing.$medium + spacing.$small));
        padding-bottom: spacing.$x-small;

        h1 {
            font-size: typography.$medium;
        }

        p {
            font-size: typography.$small;
        }

        button.working {
            animation: flash 1s infinite alternate;
        }

        .top-bar-actions {
            .loader-container {
                width: 38px;
                height: 38px;
                padding: 4px;
            }
        }
    }

    .file-tree-and-editor {
        flex: 1;
        overflow: hidden;

        display: flex;

        margin-left: 0 - spacing.$medium;
        width: calc(100% + (spacing.$medium + spacing.$medium));

        .left-panel {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: $file-tree-panel-width;
            transition: 0.2s width;

            > div:last-child {
                padding-left: spacing.$small;
                padding-bottom: spacing.$small;
                transition: 0.2s all;

                &.hide {
                    padding-left: 0;
                    padding-bottom: 0;
                    height: 0;
                    overflow: hidden;
                }
            }
        }

        .editor {
            width: calc(100% - $file-tree-panel-width);
            border-top-left-radius: spacing.$x-small;
            transition: 0.2s width;
        }

        .workspace {
            flex: 1;
            border-top-left-radius: spacing.$x-small;
            overflow: hidden;
        }

        &.closed-panel {
            .left-panel {
                width: 0;

                > div:last-child {
                    width: 0;
                    padding-left: 0;
                }
            }

            + .terminal-container {
                border-top-left-radius: 0;
            }

            .workspace {
                border-top-left-radius: 0;
            }
        }
    }

    .file-tree-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: spacing.$x-small;
            padding-right: spacing.$x-small;

            > div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: spacing.$small;
            }

            .import-file {
                form,
                input {
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
            }
        }
    }

    .file-tree {
        overflow: hidden;

        > .scrollable > .file-items > .file-item > .indent > div {
            width: 55%;
        }

        .icon {
            height: 16px;
            width: 16px;
        }

        .dev-icon {
            font-family: "Dev Icons";
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon.open {
            transform: rotate(90deg);
        }

        .file-item {
            &:hover {
                background-color: colors.$gray-dark;
            }

            .prefix {
                .chat-icon {
                    height: 12px;
                    color: #c678dd;
                }
            }

            .suffix {
                > button {
                    color: colors.$light;
                    display: none;
                }
            }

            &.active {
                background-color: colors.opacity(colors.$blue, 50);

                .suffix {
                    > button {
                        display: flex;
                    }
                }
            }
        }
    }

    .editor {
        background-color: colors.$dark;
        display: flex;
        flex-direction: column;

        > div {
            overflow: auto;

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }

            .binary-view {
                padding: spacing.$medium;
                text-align: center;
            }
        }
    }

    .file-tabs {
        border-bottom: 1px solid colors.$gray;
        white-space: nowrap;
        width: 100%;
        min-height: 31px;
        overflow-x: auto;
        overflow-y: hidden;

        li {
            display: inline-flex;
            align-items: center;
            gap: spacing.$small;
            padding: spacing.$x-small spacing.$small;
            border-right: 1px solid colors.$gray;
            cursor: pointer;

            span {
                opacity: 0.5;
            }

            button {
                height: 20px;
                width: 20px;
            }

            &.opened {
                span {
                    opacity: 1;
                }
            }
        }
    }

    .terminal-container {
        margin: 0 0 - spacing.$medium;
        height: 50%;
        max-height: 0px;
        transition: 0.2s max-height;
        overflow: hidden;

        padding: 0;
        background-color: black;
        border-top-left-radius: spacing.$small;
        position: relative;

        > button {
            position: absolute;
            top: spacing.$x-small;
            right: spacing.$x-small;
            transform: rotate(-90deg);
        }

        &.open {
            padding: spacing.$x-small;
            max-height: 300px;
        }
    }

    .git-widget {
        display: flex;
        align-items: center;
        color: colors.$blue;
        position: relative;

        > div:first-child {
            text-align: right;
            display: flex;
            flex-direction: column;

            > div:last-child {
                font-size: typography.$small;
            }
        }

        .git-status-arrow {
            position: absolute;
            color: colors.$green;
            z-index: 1;
            top: -1px;
            right: -1px;
            transform: rotate(135deg);
            height: 20px;
            width: 20px;

            &.red {
                color: colors.$red;
                transform: rotate(-45deg);
            }
        }
    }
}

// codemirror overriddes
.cm-editor,
.cm-gutters {
    background-color: colors.$dark !important;
}

.cm-focused {
    outline: none !important;
}
