/* 
All styles follows the official figma design file
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups
*/

// globals
@use "style/colors.scss";
@use "style/spacing.scss";
@use "style/list.scss";
@use "style/winbox.scss";

// components
@use "components/top-bar.scss";
@use "components/view-scrollable.scss";
@use "../lib/components/snackbar.scss";

// views
@use "views/projects/index.scss";
@use "views/project-settings.scss";
@use "views/add-project/index.scss" as index2;
@use "views/settings/index.scss" as index3;
@use "views/project/index.scss" as index4;
@use "views/project/git/index.scss" as index5;
@use "views/packages/index.scss" as index6;
@use "views/prompt/index.scss" as index7;

// deps
@use "../node_modules/@fullstacked/ui/ui.scss";
@use "../node_modules/@fullstacked/code-editor/editor.scss";
@use "../node_modules/@fullstacked/file-tree/file-tree.scss";

html,
body {
    height: 100%;
}
