/* 
All styles follows the official figma design file
https://www.figma.com/design/xb3JBRCvEWpbwGda03T5QQ/Mockups
*/

// deps
@use "../node_modules/@fullstacked/ui/ui.scss";
@use "../node_modules/@fullstacked/file-tree/file-tree.scss";

html,
body {
    -webkit-text-size-adjust: 100%;
}

@keyframes flash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}
