@use "../../node_modules/@fullstacked/ui/values/spacing.scss";

html,
body {
    margin: 0;
    width: 100%;
}

.view,
.view-scrollable {
    padding: spacing.$small spacing.$medium spacing.$medium;
}
