@use "../../../node_modules/@fullstacked/ui/values/spacing.scss";
@use "../../../node_modules/@fullstacked/ui/values/colors.scss";
@use "../../../node_modules/@fullstacked/ui/values/typography.scss";

.packages-view {
    h3 {
        padding-bottom: spacing.$small;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: spacing.$small;

        li {
            background-color: colors.$gray-dark;
            border: 1px solid colors.$gray;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: spacing.$small;
            border-radius: spacing.$x-small;
            overflow: hidden;

            > div:nth-child(2) {
                font-size: typography.$small;
            }

            .progress-bar {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: spacing.$x-small;
                background-color: colors.$blue;
            }
        }
    }
}
