@use "../../node_modules/@fullstacked/ui/values/spacing.scss";

.project-settings {
    form {
        width: 100%;
        max-width: spacing.$max-width;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        gap: spacing.$small;
        padding-top: spacing.$medium;

        > button {
            align-self: flex-end;
        }
    }
}
