@import "style/colors";
@import "style/typography";
@import "style/inputs";
@import "style/headings";
@import "style/dialog";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $blue-dark;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    color: white;
    font-size: $font-size-m;
    font-weight: $font-weight-normal;
}

.view {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.view > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: underline;
}

.loader {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid colorOpacity(white, 0.5);
    border-right-color: $blue;
    animation: l2 1s infinite linear;
}
@keyframes l2 {
    to {
        transform: rotate(1turn);
    }
}

.cm-search label,
.cm-button {
    display: inline-block;
}

.code {
    align-items: center;
    > span {
        font-size: $font-size-xl;
        background-color: colorOpacity(white, 0.1);
        padding: spacing();
        border-radius: $border-radius;
        border: $border-width solid colorOpacity(white, 0.3);
    }
    button.copied {
        color: $green;
    }
}

#splash {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 100px;
        width: 100px;
    }
}
