@use "../../../node_modules/@fullstacked/ui/values/spacing.scss";
@use "../../../node_modules/@fullstacked/ui/values/typography.scss";

.ai-agent-configurator {
    width: 100%;
    max-width: spacing.$max-width;
    display: flex;
    flex-direction: column;
    gap: spacing.$small;

    .ai-configurator-empty {
        font-size: typography.$small;
    }

    .ai-provider-model-select,
    .ai-provider-configs {
        display: flex;
        flex-direction: column;
        gap: spacing.$small;
    }

    .input-checkbox-wrap {
        display: flex;
        flex-direction: column;
        gap: spacing.$x-small;
    }

    .key-value-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > label {
            padding-bottom: spacing.$x-small;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: spacing.$small;
            width: 100%;

            .key-value {
                display: flex;
                gap: spacing.$small;
                align-items: center;

                &:last-child {
                    padding-bottom: spacing.$x-small;
                }
            }
        }
    }
}
